body{
--accent2-color: #4E9BAE;
  /* moonstone */
  --heading-font: 'roboto', san-serif;
  --text-font: 'Dancing Script', cursive;
}

header
,main
,footer{
    max-width: 640px;
    margin: 1rem auto;
    border-radius: 8px;
    border: 2px solid #bbb;
    padding: 1rem;
    background-color: #4E9BAE;
}
.main{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 1rem;
}
.header{
    background-color: black;
    color: white;
}
.section{
    padding: 1rem;
    background-color: aliceblue;
}

@media screen and(min-width: 500px)