:root {
    --primary-color: #7DF2CD;
    /* aquamarine */
    --secondary-color: #A4DFD8;
    /* tiffany blue */
    --accent1-color: #E48577;
    /* coral pink */
    --accent2-color: #4E9BAE;
    /* moonstone */
    --heading-font: 'Crimson Text', serif;
    --text-font: 'Dancing Script', cursive;
}
/* global reset*/
*{
margin: 0;
padding: 0;
box-sizing: 0;
}

/* body */
body{
    font-family: var(--heading-font);
    line-height: 1.6;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navigation */
.nav-links{
    background-color: var(--accent1-color);
    padding: 1rem 0;
}

.navigation{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.navigation a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    font-family: var(--heading-font);
    transition: color 0.3s ease;
}
.navigation a:hover{
    color: var(--secondary-color)
}
/* main content */
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
}
.container{
    display: flex;
    flex: 1;
    gap: irem;
}

/* left side */
.left-side {
    flex: 3;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
}
.left-side h1, .left-side p {
    font-family: var(--text-font)
}
/* right side */
.right-side {
    flex: 1;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    border-left: 3px solid var(--accent2-color)
}

.right-side h2, .right-side p {
    font-family: var(--text-font)
}

/* footer */
footer{
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    font-family: var(--heading-font);
}

/* responsive design */
@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }


   .left-side,
   .ride-side{
        flex: none;
        width: 100%;
    }
    .right-side {
        border-left: none;
        border-top: 3px solid var(--accent2-color)
    }
}