/* ROOT VARIABLES  */
:root {
  --primary-color: #FFC0CB;     /* baby pink - header & figure bg */
  --secondary-color: #fff;       /* white - figcaption bg */
  --accent1-color: #F6F8F9;     /* very light neutral - body background */
  --accent2-color: #C08081;     /* dusty rose - footer text, hover text */
  --text-color: #4B2E2E;        /* dark reddish-brown - main text */
  --highlight-color: #2B6777;   /* teal - links, accents */

  --heading-font: 'Crimson Text', serif;
  --text-font: 'Dancing Script', cursive;
}

/*  RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--text-font);
  background-color: var(--accent1-color);
  color: var(--text-color);
  line-height: 1.6;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

header p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--heading-font);
}

/* Hamburger button */
.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}


nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: none; /* Hidden on mobile by default */
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
}

.nav-links.show {
  display: block; /* Show when toggled */
}

.nav-links ul {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--highlight-color);
}


main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
  font-size: 2rem;
}

#templeCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* single column on mobile */
  gap: 1rem;
  padding: 1rem 0;
}

.temple-card {
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1rem;
}

.temple-cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.temple-card img {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto 1rem auto;
}

.temple-card{
    font-family: var(--heading-font);
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.temple-card p {
    margin-bottom: 0.3rem;
}



footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}
