@media (min-width: 769px) {

  /* Header layout for desktop */
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  /* Hide hamburger on desktop */
  .hamburger {
    display: none;
  }

  /* Show nav horizontally on desktop */
  .nav-links {
    display: block !important;
  }

  .nav-links ul {
    flex-direction: row;
    gap: 1.5rem;
  }

 
  /* Responsive grid */
@media (min-width: 600px) {
  #templeCards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  #templeCards {
    grid-template-columns: repeat(3, 1fr);
  }
}
}
